S3method(mcGet,datasetResample)
S3method(mcGet,multiClass)
export(PickBestValidationModel)
export(SummaryValidationMetric)
export(computeLogScore)
export(evaluateProbClass)
export(generateTestIndexes)
export(mcGet)
export(predict_r_vgam)
