S3method(evaluateProbClass,multiClass)
S3method(evaluateProbClass,multiClassValidation)
S3method(mcGet,datasetResample)
S3method(mcGet,multiClass)
S3method(mcGet,multiClassValidation)
S3method(mcGet,multiClassValidationScores)
S3method(mcGet,summarizedValidation)
S3method(plot,summarizedValidation)
S3method(print,summarizedValidation)
S3method(summarizeValidation,multiClass)
S3method(summarizeValidationMetric,multiClassValidationScores)
S3method(summary,summarizedValidation)
export(checkCalibration)
export(computeLogScore)
export(computeMultiClassScore)
export(evaluateProbClass)
export(generateTestIndexes)
export(loadResampleIndexes)
export(mcGet)
export(pickBestValidationModel)
export(predict_r_vgam)
export(saveResampleIndexes)
export(summarizeValidation)
export(summarizeValidationMetric)
